<div id="coolArt" class="coolArt">
    <img src="/vangogh.webp" alt="cool art stuffs" id="coolArt" class="coolArt"/>
    
    <h1>The Art</h1>

    <article class="coolArt" id="coolArt">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti harum rem,
         sed ut voluptatum soluta quia molestiae doloremque eius adipisci sequi deserunt, 
         quam nulla velit quos odit ea quaerat eos. Lorem, ipsum dolor sit amet consectetur 
         adipisicing elit. Illo dignissimos repellat voluptate fugit nam possimus unde? 
         Temporibus voluptatem maiores magnam ducimus veniam 
        iure repudiandae, odio accusantium aspernatur deserunt exercitationem 
        quisquam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Praesentium ratione facere quae sapiente quos est qui 
        quisquam aut commodi voluptatem natus impedit dignissimos, 
        explicabo incidunt repellendus consectetur necessitatibus, culpa inventore.
    </article>
</div>